table,td{

  border: 1px solid grey;
  
  
  
  }
  
  
  div{
  
   width: 400px;
   height: 200px;
   background-color: grey;
   
    margin-top: 50px;
  
  
  
  
  
  }

  .container{

width: 80%;
margin:auto


  }


  



  

margin-top: 50px;




  

  .team image{}